* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* Media Queries Mixin
**********************/
.nav__shop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  opacity: 0.5;
}
.nav__shop .left {
  padding: 0.5rem;
}
.nav__shop .left small {
  margin: 0 0.5rem;
}
.nav__shop .right i {
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}
nav ul {
  display: flex;
  flex: auto;
}
nav ul li {
  display: inline-block;
  padding-left: 1rem;
}
nav ul li:hover {
  cursor: pointer;
}
nav .button {
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  background-color: #0fb191;
  color: #fbfbfb;
}
nav .button:hover {
  cursor: pointer;
}

main {
  width: 100%;
  height: 50vh;
  text-align: center;
  background-image: url("../../images/meeting.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main h1 {
  font-size: 3rem;
  padding-top: 0.1rem;
  margin-top: 4rem;
}
main p {
  padding-top: 1rem;
  padding-bottom: 20%;
}

.branch {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fbfbfb;
}
.branch__description {
  padding: 1rem;
  width: 25%;
}
.branch__description h2 {
  padding: 1rem 0;
}
.branch__description h3 {
  padding: 1rem 0;
}
.branch__img {
  max-width: 30%;
  box-sizing: border-box;
}
.branch__img img {
  width: 100%;
}

.services {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}

.caja {
  width: 80%;
  margin: 0.5rem;
}
.caja__contenido h3 {
  margin: 1rem 0;
  padding: 0.5rem;
  opacity: 0.5;
}
.caja__contenido p {
  margin: 1rem 0;
  padding: 0.5rem;
  opacity: 0.5;
}
.caja__contenido a {
  color: #0fb191;
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.5rem;
  opacity: 0.5;
}
.caja__imagen img {
  width: 300px;
}