/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    header {
        display: grid;
        grid-template-rows: 2fr;
    }
    .header-card {
        grid-template-columns: 1fr;
    }
    .header-title {
        order:-1;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .big-title {
        order: -1;
        grid-column: 1 / 4;
    }
    h1 {
        font-size: 4rem;
    }
    .header-price {
        display: none;
    }
    .header-date {
        grid-column: 1;
        text-align: center;
        font-size: .7rem;
    }
    .header-date p {
        text-align: center;
        font-size: .7rem;
    }
    .container {
        grid-template-columns: 1fr;
        padding: 0 .5rem;
    }
    .sub-title {
        padding: 0;
    }
    .description-content {
        grid-template-columns: 1fr;
    }
    .description-content {
        display: block;
    }
    .main-news-description {
        display: block;
    }
    .museum-description {
        grid-template-columns: 1fr;
    }
    .main-news {
        grid-column: 1;
    }
    aside {
        padding: .5rem;
    }
    aside figure {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    /* Styles */
    header {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .header-title {
        order:-1;
        grid-template-columns: 1fr;
    }
    .big-title {
        order: -1;
        grid-column: 1 / 3;
    }
    h1 {
        font-size: 7rem;
    }
    .header-price {
        display: none;
    }
    .header-date{
        text-align-last: center;
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 .5rem;
    }
    .main-news {
        grid-column: 1 /span 2;
    }
    .main-news-description {
        grid-template-columns: 1fr 1fr;
    }
    .museum-news-description {
        grid-column: 1 / 3;
    }
    aside {
        grid-column: 1 / 3;
    }
    aside figure {
        width: 70%;
        margin: auto;
    }
}
 /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1020px) {
/* Styles */
    header {
        display: grid;
        grid-template-rows: 2fr;
    }
    .header-title {
        order:-1;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .big-title {
        order: -1;
        grid-column: 1 / 4;
    }
    .header-price {
        display: none;
    }
    .header-date {
        grid-column: 2;
        text-align: center;
    }
    .header-date p {
        text-align: center;
    }
    .container {
        padding: 0 .5rem;
    }
    .sub-title {
        padding: 0;
    }
    .description-content {
        grid-template-columns: 1fr 1fr;
    }
}
