//- variables
-var enlaces = ["Acerca", "Noticias", "Contacto", "Branch"]
-var titulos = ["Card1", "Card2", "Card3"]

//- color

//- mixin
mixin cajafirst(titulo,contenido)
	.caja
		.caja__contenido
			h3=titulo
			p=contenido
			a Leer mas

mixin caja(titulo,contenido)
	.caja
		.caja__imagen: img(src="https://picsum.photos/200/150", alt="Imagen muestra")
		.caja__contenido
			h3=titulo
			p=contenido
			a Leer mas