foooter
    .footer__container: img(src="", alt="", srcset="")
    .footer__description
        .description--customer
            h2
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        .description--customer
            h2
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        .description--customer
            h2
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        