footer.footer
    .footer__container
    .footer__description
        .description--customer
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        .description--customer
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        .description--customer
            h3 Lorem, ipsum dolor.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, vitae.
        