header
    .nav__shop
        .left
            small Call us
            <i class="fas fa-phone-alt"></i>
            small +55 5192 2616
        .right
            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-cart"></i>
            <i class="fas fa-bars"></i>
    nav
        h3 Deploy
        ul
            each enlace in enlaces
                li=enlace
        a.button Comienza aqui