include configuraciones.pug
doctype html
html(lang="es")
    include head.pug
    body
        include header.pug
        main
        section.services
            +cajafirst(titulos[0],'lorem ipsum dolor sit lorem')
            +cajafirst(titulos[1],'lorem ipsum dolor sit lorem')
            +cajafirst(titulos[2],'lorem ipsum dolor sit lorem')
        section.branch
        section.services
            +caja('imagen.png', titulos[0],'lorem ipsum dolor sit lorem')
            +caja('imagen.png', titulos[1],'lorem ipsum dolor sit lorem')
            +caja('imagen.png', titulos[2],'lorem ipsum dolor sit lorem')
        include footer.pug