include configuraciones.pug
doctype html
html(lang="es")
    include head.pug
    body
        include header.pug
        main
            h1 We Listen. You Prosper.
            p Facere facilis exercitationem placeat porro! Esse, assumenda.
        section.services
            +cajafirst(titulos[0],'Lorem ipsum dolor sit amet. ipsum dolor sit.ipsum dolor sit Lorem ipsum dolor sit.rem ipsum dolor sit lorem ipsum dolor sit Lorem ipsum dolor sit.')
            +cajafirst(titulos[1],'Lorem ipsum dolor sit amet. ipsum dolor sit.ipsum dolor sit Lorem ipsum dolor sit.rem ipsum dolor sit lorem ipsum dolor sit Lorem ipsum dolor sit.')
            +cajafirst(titulos[2],'Lorem ipsum dolor sit amet. ipsum dolor sit.ipsum dolor sit Lorem ipsum dolor sit.rem ipsum dolor sit lorem ipsum dolor sit Lorem ipsum dolor sit.')
        section.branch
            .branch__description
                h2 Branch Offices
                h3 Lorem, ipsum dolor.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur commodi pariatur nihil facilis eos.
            .branch__img
                img(src="../images/listen2.png", alt="", srcset="")
        section.services
            +caja('nature.png', titulos[0],'Lorem ipsum dolor sit amet. ipsum dolor sit. ipsum dolor sit Lorem ipsum dolor sit.lorem ipsum dolor sit lorem')
            +caja('peace.png', titulos[1],'loLorem ipsum dolor sit amet. ipsum dolor sit. ipsum dolor sit Lorem ipsum dolor sit.rem ipsum dolor sit lorem')
            +caja('market.png', titulos[2],'lorLorem ipsum dolor sit amet. ipsum dolor sit. ipsum dolor sit Lorem ipsum dolor sit.em ipsum dolor sit lorem')
        include footer.pug