.branch {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $color-light;
    &__description {
        padding: 1rem;
        width: 25%;
        & h2 {
            padding: 1rem 0;
        }
        & h3 {
            padding: 1rem 0;
        }
    }
    &__img {
        max-width: 30%;
        box-sizing: border-box;
        & img {
            width: 100%;
        }
    }
}