.branch {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    justify-content: center;
    background-color: $color-light;
    &__description {
        grid-column: 2;
        padding: 1rem;
        
        & h2 {
            padding: 1rem 0;
        }
        & h3 {
            padding: 1rem 0;
        }
    }
    &__img {
        box-sizing: border-box;
        & img {
            width: 100%;
        }
    }
}