// Global color
$color-primary: #333;
$color-light: #fbfbfb;
$color-variation: #0fb191;

// mixins
@mixin caja {
    margin: 1rem 0;
    padding: .5rem;
    opacity: .5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff ;
}