main {
    width: 100%;
    height: 70vh;
    text-align: center;
    background-image: url('../images/meeting.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    & h1 {
        font-size: 3rem;
        padding-top: .1rem;
        margin-top: 2rem;
    }
    & p {
        padding-top: 1rem;
    }
}