/* Global style */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
h1 {
    padding: 1rem 0;
}
i {
    height: 50px;
    width: 50px;
    color: slategrey;
}

/* menu style */

.menu {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    padding: .5rem;
}
.menu .menu-return {
    display: flex;
    padding: .5rem;
}


/* main style */
.titulo {
    width: 90%;
    margin: 0 auto;
}
.titulo p {
    padding-top: .5rem;
}
