/* general style */

* {
    margin:0;
    padding: 0;
}
body {
    background-color:#f8f5e0;
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 1rem auto;
}
.bg-pink {
    background-color: #efd4c3;
}
.sub-title {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
}
h3{
    margin: .5rem 0;
}
p {
    font-size: .85rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.description-photo {
    font-size: .5rem;
    border-bottom: 1px solid black;
}
.mt {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* header card style */

.header-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}
.header-card-description {
    text-align: center;
}
.description-content {
    text-align: justify;
    padding: 1rem .5rem;
}
.text-red {
    color: tomato;
}


/* title style */

.header-title {
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    align-items: center;
}
.big-title {
    text-align: center;
}
h1 {
    font-weight: 900;
    font-size: 8rem;
}
h2 {
    font-weight: 600;
    font-size: 2rem;
}
main {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 1rem;
}
.main-news {
    grid-column: 1 / span 4;
}
img {
    width: 100%;
}
.main-news-description {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}
.museum-news figure {
    grid-column: 1 / span 2;
}
.museum-news-description {
    grid-column: 3 / span 2;
}
.museum-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


aside {
    margin-top: 1rem;
}
.fragment {
    border: 1px solid black;
    padding: .5rem;
}