header
    .nav__shop
        .left
            small lorem
            i: small
        .right
        i
        i
        i
    nav
        h1 Deploy
        ul
            each enlace in enlaces
                li=enlace
            a.button